<body>
  <div class="wheather-app">
    <div class="header">
      <div class="header-search">
        <div class="header-search-input"><input class="header-search-input-box" (keyup)="onInput($event)"></div> 
        <button class="header-search-button" (click)="onSearch(location)">Search</button>
      </div>
    </div>
    <div class="body">
      <div *ngIf="weatherData" class="body-details">
        <div class="city">{{ weatherData.name }}</div>
        <img [src]="getIcon()" class="icon" alt="Weather-Icon">
        <div class="temp">{{ weatherData.main.temp }}°C</div>
        <div class="state">{{ weatherData.weather[0].description }}</div>
        <div class="date">{{ getDate() }}</div>
      </div>
      <div *ngIf="weatherData" class="body-map">
        <iframe [src]="this.sanitizedURL()" class="map"></iframe>
      </div>
    </div>
  </div>
</body>

<!--       <div *ngIf="weatherData.name === null || weatherData.name === undefined" class="body-error">
          <div class="errormsg">There is no city called "{{ location }}" in our Database.</div>
      </div> -->