<div class="weather-app">
    <div class="overheader">
      <div class="header">
        <div class="header-search">
          <div class="header-search-input">
            <input 
            id="searchInput" 
            class="header-search-input-box" 
            type="text"
            (keyup)="onSearchKeyUp($event)"
            (input)="onTypeahead($event.target.value)"
            />
            <div *ngIf="location && typeAheadIsOn === true" class="header-search-input-typeahead">
              <div *ngIf="typeAheadCities[0]" href="#" class="header-search-input-typeahead-item" (click)="onSearch(typeAheadCities[0].city)">{{ typeAheadCities[0].city }}</div>
              <div *ngIf="typeAheadCities[1]" href="#" class="header-search-input-typeahead-item" (click)="onSearch(typeAheadCities[1].city)">{{ typeAheadCities[1].city }}</div>
              <div *ngIf="typeAheadCities[2]" href="#" class="header-search-input-typeahead-item" (click)="onSearch(typeAheadCities[2].city)">{{ typeAheadCities[2].city }}</div>
              <div *ngIf="typeAheadCities[3]" href="#" class="header-search-input-typeahead-item" (click)="onSearch(typeAheadCities[3].city)">{{ typeAheadCities[3].city }}</div>
              <div *ngIf="typeAheadCities[4]" href="#" class="header-search-input-typeahead-item" (click)="onSearch(typeAheadCities[4].city)">{{ typeAheadCities[4].city }}</div>
            </div>
          </div>
          <button id="searchButton" class="header-search-button" (click)="onSearch(location)">Search</button>
        </div>
      </div>
  </div>

  <div class="content-wrapper" (click)="typeAheadOff()">
      <div *ngIf="weatherData" class="content">
        <div class="content-details">
          <div class="city">{{ weatherData.name }}</div>
          <img [src]="getIcon()" class="icon" alt="weatherData.weather[0].description">
          <div class="temp">{{ weatherData.main.temp }} °C</div>
          <div class="state">{{ weatherData.weather[0].description }}</div>
          <div class="date">{{ getDate() }}</div>
          <div *ngIf="weatherData" class="content-map">
            <iframe [src]="this.sanitizedURL()" class="map"></iframe>
          </div>
        </div>
      </div>
      <div *ngIf="isError" class="content-error">
        <div class="content-error-details">
          <div class="errormessage">{{ errormsg }}</div>
        </div>
    </div>
  </div>
</div>

