@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

.weather-app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.header {
    background-color: white;
    width: 100%;
    padding: 5px 0px;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.12);
    -moz-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.12);
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.12);
    
    &-search{
        display: flex;
        margin: auto;
        margin-top: 0px;
        height: 31px;
        width: 38%;
        display: flex;
        padding: 0px 5px 50px 5px;
        
        &-input {
            margin-top: 25px;
            margin-left: 20px;
            padding: 0px;
            height: 34px;
            width: 70%;
            cursor: text;
            
            &-box {
                padding-left: 6px;
                background-color: rgb(29, 196, 182);
                border: none;
                font-family: 'Poppins', sans-serif;
                width: 100%;
                height: 34px;
            }

            &-typeahead{
                width: 100%;

                &-item{
                    background-color: rgb(84, 228, 221);
                    height: 34px;
                    text-align: start center;
                    vertical-align: middle;
                    padding-left: 6px;
                    display: flex;
                    justify-content: start; /* align horizontal */
                    align-items: center; /* align vertical */
                    cursor: pointer;
                }
            }
            
        }
        &-button{
            margin-top: 25px;
            margin-right: 20px;
            padding-right: 5px;
            width: 30%;
            height: 34px;
            background-color: rgb(29, 196, 182);
            border: none;
            font-family: 'Poppins', sans-serif;
            cursor: pointer;

        }

    }
}

.header-search-input-typeahead-item:hover{
    background-color: red;
}

.header::after{
    content:"";
    position: absolute;
    margin-top: 5px;
    margin-left: calc(100% - 400px);
    height: 0px;
    border: 200px solid;
    border-bottom-color: transparent;
    border-top-color:rgba(28, 184, 171, 0.678);
    border-left-color: transparent;
    border-right-color: rgba(28, 184, 171, 0.678);
    z-index: 100;
}

button:focus{
    outline: none;
    border: 2px solid rgb(72, 143, 133);
}
input:focus{
    outline: none;
}

.content {

    width: 25%;
    background-color: white;
    padding: 20px;
    -webkit-box-shadow: 7px 9px 6px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 7px 9px 6px 0px rgba(0,0,0,0.16);
    box-shadow: 7px 9px 6px 0px rgba(0,0,0,0.16);

    &-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        z-index: 101;
    }

    &-details{
        padding-top: 30px;
        padding-bottom: 1%;
        margin: auto;
        width: 100%;
        color: white;
        background-color: rgb(28, 184, 171);
        font-family: 'Poppins', sans-serif;
        text-align: center;
        -webkit-box-shadow: inset 0px 0px 17px 0px rgba(0,0,0,0.14);
        -moz-box-shadow: inset 0px 0px 17px 0px rgba(0,0,0,0.14);
        box-shadow: inset 0px 0px 17px 0px rgba(0,0,0,0.14)
    }
    &-map{
        margin-top: 20px;
        margin-bottom: 4%;
    }
}

.content-error{
    width: 25%;
    background-color: white;
    padding: 20px;
    -webkit-box-shadow: 7px 9px 6px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 7px 9px 6px 0px rgba(0,0,0,0.16);
    box-shadow: 7px 9px 6px 0px rgba(0,0,0,0.16);
    
    &-details{
        padding-top: 1%;
        padding-bottom: 1%;
        margin: auto;
        width: 100%;
        color: white;
        background-color: rgb(28, 184, 171);
        font-family: 'Poppins', sans-serif;
        text-align: center;
        -webkit-box-shadow: inset 0px 0px 17px 0px rgba(0,0,0,0.14);
        -moz-box-shadow: inset 0px 0px 17px 0px rgba(0,0,0,0.14);
        box-shadow: inset 0px 0px 17px 0px rgba(0,0,0,0.14)
    }
}

iframe{
    outline: none;
    border: none;
    -webkit-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.14);
    -moz-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.14);
    box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.14);
}

.city{
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 10px;
}
.icon{
    height: 70px;
    width: 70px;
    margin: auto;
    margin-bottom: 10px;
}
.temp{
    margin-bottom: 8px;
}
.state{
    margin-bottom: 8px;
}
.date{
    vertical-align: bottom;
}

.map{
    width: 85%;
    height: 20%;
    margin: auto;
}

.errormessage{
    font-size: 22px;
}

@media only screen and (max-width: 850px) {
    .content { width: 50vw; }
    .content-error { width: 50vw; }
    .header-search { width: 45vw; }
}
@media only screen and (max-width: 600px) {
    .content { width: 70vw; }
    .content-error { width: 70vw; }
    .header-search { width: 70vw; }
}
@media only screen and (max-width: 400px) {
    .content { width: 100vw; }
    .content-error { width: 100vw; }
    .header-search { width: 90vw; }
}
@media only screen and (max-height: 490px) {
    .content { margin-top: 280px; }
}
